/* Color Pallet */
$black: #060222;
$light-green: rgb(224, 235, 232);
$green: #45b29a;
$dark-green: #225a4e;

/* Index CSS */
@media only screen and (min-width: 992px) {
  .desc-container {
    flex-basis: 50% !important;
    max-width: 500px !important;
    line-height: 2.1em;
  }
  .desc-container p {
    font-size: 1.5em;
  }
}
.title-container {
  margin: auto;
  width: 80%;
  margin-top: 10px;
}
.title {
  flex-direction: column;
  flex-wrap: wrap;
}
.title-h1 {
  color: $green;
  font-weight: 900;
  margin-bottom: 50px;
}
.title-h2 {
  margin-bottom: 40px;
}
.icon-container {
  justify-content: center;
  margin-bottom: 15px;
}
.svg-icon {
  color: $green;
  margin: 0 90px;
  font-size: 55px;
}
.svg-icon:hover {
  cursor: pointer;
  color: $dark-green;
}
.desk-container {
  justify-content: center;
  margin-bottom: 7px;
}
.desk-img {
  width: 85%;
  max-width: 610px;
}
.description {
  background: white;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
}  
.desc-container {
  margin: auto;
  flex-basis: 100%;
  max-width: 76%;
  padding: 0 20px;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
}
.description .logo {
  background: lightgray;
  min-width: 145px;
  min-height: 145px;
  width: 145px;
  height: 145px;
  margin-bottom: 60px;
}
.desc-h2 {
  margin-bottom: 50px;
}
.desc-p {
  font-weight: 400;
  margin-bottom: 30px;
}